<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Social Network</a>
        <div class="navbar-nav ms-auto">
            <a sec:authorize="isAuthenticated()" th:href="@{/posts}" class="nav-link">Danh sách bài viết</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/users}" class="nav-link">Danh sách người dùng</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/follows}" class="nav-link">Danh sách theo dõi</a>
            <span sec:authorize="isAuthenticated()" class="nav-link" th:text="'Xin chào, ' + ${#authentication.name}"></span>
            <a sec:authorize="isAuthenticated()" class="nav-link" href="/logout">Đăng xuất</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link" href="/logon">Đăng nhập</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link" href="/register">Đăng kí</a>
        </div>
    </div>
</nav>
</html>