<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <div class="container mt-5">
        <h2>Đăng nhập</h2>
        <div th:if="${param.error}" class="alert alert-danger">
            Tên người dùng hoặc mật khẩu không hợp lệ
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Bạn đã đăng xuất thành công
        </div>
        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
        <form th:action="@{/logon}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Tên tài khoản</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên tài khoản" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu" required>
            </div>
            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
            <a th:href="@{/register}" class="btn btn-secondary">Đăng kí</a>
        </form>
    </div>
</body>
</html>